.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  color: #000;
}

.header__nav-list {
  display: flex;
  gap: 32px;
  margin: 133px auto 138px 50px;
  color: #000;
  font-size: 18px;
  list-style: circle;
}

.header__logo {
  margin: 92px 0 96px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__nav-item:first-child {
  list-style: none;
}

.link_active {
  text-decoration: none;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  margin: 95px 50px auto 186px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.address__address-text {
  margin: 1px 0 0;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 757px;
  background: url("/images/cover.jpg") center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.cover__headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 385px;
  margin: 165px 0 207px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__headline-line_aligned_left {
  margin: 0 0 0 50px;
}

.cover__headline-line_aligned_center {
  align-self: center;
  margin: 0 0 0 30px;
}

.cover__headline-line_aligned_right {
  align-self: flex-end;
  margin: 0 20px 0 0;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1000px;
  color: #fff;
  font-size: 22px;
  line-height: 1.28;
  text-transform: uppercase;
}

.cover__text {
  margin: auto 0;
  word-spacing: 18px;
}

.cover__button {
  border: #fff solid 1px;
  padding: 12px 32px 11px 31px;
  text-decoration: none;
}

.lots {
  height: 723px;
  margin: 180px 24px 0;
}

.lots__title {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__cards {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.lots__card {
  width: 334px;
  height: 596px;
}

.lots__card-link {
  color: #fff;
  text-decoration: none;
}

.lots__card_film {
  background: url("/images/card-lot-01.jpg") center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.lots__card_book {
  background: url("/images/card-lot-02.jpg") center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.lots__card_art {
  background: url("/images/card-lot-03.jpg") center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__subtitle {
  display: block;
  margin: 30px auto 0 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about {
  display: flex;
  height: 595px;
  margin: 120px 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 72px 307px 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__headline {
  margin: 139px 402px 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text:first-of-type {
  margin: 0 3px 24px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  padding: 0 50px;
  font-size: 18px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  width: 244px;
  font-style: normal;
  line-height: 24px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 164px;
  padding: 0;
  list-style: none;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer__socials-icon {
  width: 48px;
  height: 48px;
}
